
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}

.product-item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
  max-width: 100%;
}

.product-item .product-details {
  margin-bottom: 10px;
}

.product-item h2 {
  margin-top: 0.5rem;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-item p {
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-item .button-group {
  display: flex;
  justify-content: space-between;
}

.product-item button.edit-button,
.product-item button.delete-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-item button.edit-button:hover,
.product-item button.delete-button:hover {
  filter: brightness(90%);
}

